/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- header --*/ 
h1 a.navbar-brand {
    font-size: 1.05em;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
h1 a.navbar-brand span {
    background:#0de2f6;
    padding: 0px 11px;
	font-weight: bold;
	font-size: 1.2em;
}
nav.navbar.navbar-default.navbar-fixed-top {
    background: none;
    border: none;
    padding:2em;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
    background: rgba(0, 0, 0, 0.49);
	padding: 1em;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 1px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#0de2f6;
    background-color:#fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#0de2f6;
    background-color: transparent;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px!important;
}
.navbar-right {
    padding: 0 2em;
}
/*-- //header --*/ 

/*-- /model --*/
.modal-content h5 {
       font-size: 1.4em;
    color:#0de2f6;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 1em;
}
.modal-content  p {
    color: #555;
    font-size: 1em;
    line-height: 2em;
    margin: 0.5em 0 2em 0;
    letter-spacing: 1px;
}
.modal-header {
    border-bottom: none;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0px!important;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
/*-- //model --*/

	
	
/*--//responsive--*/